body {
 background-color:black;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
}
a{
  text-decoration: none;
}
/*Navigateur*/
nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  background-color: #211F1F;
  width: 100%;
  height: 70px;
  margin: 0;
  margin-bottom: 10px;
  padding-top: 3px;
  padding-left: 3px;
  padding-right: 3px;
}
nav a {
  font-family: "gill";
  font-weight: bold;
  font-size: 30px;
  color: white;
  background-color: #413D3D;
  border: solid black 1px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 27px;
  margin: 1px;
  height: 100%;
}
nav a:hover {
  font-weight: bold;
  background-color: black;
  border: solid white 1px;
}

/*formulaire de contact*/
.formulaire{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
.formulaire .item {
  width: 100%;
  justify-content: center;
  margin: 0px 100px;
}
.formulaire .item p{
  font-size: 22px;
}
.nom{
  margin-left: 40px;
}
.mail{
  margin-left: 30px;
}
.adresse{
  margin-left: 30px;
}
.ville{
  margin-left: 60px;
}
.postal{
  margin-left: 0px;
}
.telephone{
  margin-left: 0px;
}
.item p{
  margin-right: 10px;
}
.formulaire .fichier p{
  font-size: 22px;
}
.formulaire .fichier {
  width: 40%;
}
input{
  margin-top: 15px;
  margin-left: 20px;
  height: 30px;
}
.descr{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width: 100%;
}
.descr p{
  width: 100%;
  font-size: 20px;
  margin: 15px 0px 0px 0px;
}
.description{
width: 70%;
height: 250px;
}

.envoi{
  margin-bottom: 50px;
  width: 10%;
  height:5%;
  color: green;
  font-size: 22px;
  font-weight: bold;
  border: solid black 2px;
}
.envoi:hover{

  border: solid green 2px;
}

.fichier{
  border: solid black 2px;
  padding: 10px;
  width: 70%;
}

/*Contact*/
.contact{
  background-color: #211F1F;
  padding-bottom: 10px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  border: solid black 3px;
  width: 100%
}
.contact a{
  color:white;
  font-weight: bold;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: solid black 2px;
  background-color: #413D3D;
}
.contact a:hover{
  border: solid white 2px;
  background-color: black;
}
h3{
  margin: 0;
  font-size: 30px;
}
.contact p{
  margin: 0;
  margin-left: 5px;
  color: white
}

.contact .infos{
  width: 100%;
  display: flex;
  justify-content:space-around;
}
u{
  color: white;
}
.item {
  display: flex;
  margin: 0;
}
