body {
 background-color:white;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
}
a{
  text-decoration: none;
}

/*Navigateur*/
nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  background-color: #211F1F;
  width: 100%;
  height: 70px;
  margin: 0;
  margin-bottom: 10px;
  padding-top: 3px;
  padding-left: 3px;
  padding-right: 3px;
}
nav a {
  font-family: "gill";
  font-weight: bold;
  font-size: 30px;
  color: white;
  background-color: #413D3D;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 27px;
  height: 100%;
}
nav a:hover {
  font-weight: bold;
  background-color: black;
}
 p{
  margin-top: 100px;
}














/*Contact*/
.contact{
  padding-bottom: 10px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  border: solid black 3px;
  width: 100%
}
.contact a{
  color:green;
  font-weight: bold;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: solid black 2px;
}
.contact a:hover{
  border: solid green 2px;
}
h3{
  margin: 0;
  font-size: 30px;
}
.contact p{
  margin: 0;
  margin-left: 5px;
}

.contact .infos{
  width: 100%;
  display: flex;
  justify-content:space-around;
}

.item {
  display: flex;
  margin: 0;
}
